<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
        th:fragment="layout(title,body)">
        <!-- ↑のlayoutはlist.htmlの中のものを参照　titleは::title, bodyは::body/content() に対応している -->
<head>
    <meta charset="UTF-8">
    <!-- タイトルの初期値を入れてますがlist.htmlの<title>に置き換わります -->
    <title th:replace="${title}">Book Management System</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
    <!-- ここに各Viewを入れる -->
    <div class="container">
        <div id="body" th:replace="${body}"></div>
    </div>
    <!-- ここまでが各View -->
</body>
</html>