<!DOCTYPE html>
<!-- th:replaceからでパーツ化されている -->
<html lang="ja" xmlns:th="http://www.thymeleaf.org" 
    th:replace="~{base :: layout(~{::title},~{::body/content()})}">
    <!-- 　　　　　　↑はtemplatesフォルダの中のbase.htmlを示している -->
    <!-- これがさらにlayoutフォルダに入っていた場合は~{layout/base :: -->
<head>
    <meta charset="UTF-8">
    <!-- <link th:href="@{/style.css}" rel="stylesheet"> -->
    <title>従業員一覧</title>
</head>
<body>
    <h1>従業員一覧</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>従業員名</th>
                <th>会社名</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employeeA : ${employees1}">
                <td th:text="${employeeA.id}">ID</td>
                <td th:text="${employeeA.name}">従業員名</td>
                <td th:text="${employeeA.company.companyName}">会社名</td>
                <td>
                    <a th:href="@{/employees/edit/{id}(id=${employeeA.id})}">編集</a>
                    <a th:href="@{/employees/delete/{id}(id=${employeeA.id})}">削除</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/employees/add}">新しい従業員を追加</a><br>
    <a th:href="@{/employees/search}">search</a>
</body>
</html>