<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>の新規追加</title>
</head>
<body>
    <h1>企業の新規追加</h1>
    <form th:action="@{/companys/add}" th:object="${company}" th:method="post">
        <!-- <p>ID: <input type="text" th:field="*{id}"></p> -->
        <p>企業: <input type="text" th:field="*{companyName}"></p>
        <p><input type="submit" value="追加"></p>
        <!-- <p>以下を追加
            <select id="employee" th:field="*{employee.id}">
                <option value="">ジャンルを選択</option>
                <option th:each="employee : ${employees}"
                        th:value="${employee.id}"
                        th:text="${employee.name}">氏名</option>
            </select>
        </p> -->
        <p><button type="submit">登録</button></p>
    </form>
    <a th:href="@{/companys/list}">企業リストに戻る</a>
</body>
</html>